.dashboard {
    width: 85%;
    padding: 30px;
    background-color: rgba(250, 250, 250, 0.85);
    align-self: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.service-wrapper {
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  background-color: #42626D;
  filter: brightness(1.0);
}

.serviceImg {
  object-fit: contain;
  bottom: 20%;
  width: 80%;
  height: 80%;
}

.service-wrapper:hover {
  transform: scale(1.1) translateY(-5%);
  background-color: #42626D;
  filter: brightness(1.1);
}

.user-bar h6 {
  padding: 10px;
  text-align: center;
  background-color: #42626D;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}

.user-bar {
  padding: 20px 30px;
}

.user-propic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  background-color: #fff;
}