body {
  margin:0;
  padding:0;
  font-family: 'Open Sans', serif;
  background-color: #B74E55;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

.left-hand-icon {
  margin-right: 5px;
}

.warn {
  color: #52151C;
}

button {
  margin: 10px;
}

label {
  color: #51151D;
  font-weight: 700;
}

.modalBox {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #F1DAC8;
  align-self: center;
}

.flexBox-row,
.flexBox-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBox-column {
  flex-direction: column;
}

.btn-fb {
  background-color: #3B5999;
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100px;
}

.kep-login-facebook {
  border-radius: 10px!important;
  width: 350px;
  height: 100px;
  font-size: calc(.27548vw + 19.71074px)!important;
}

.non-homepage {
  margin-top: 100px;
}

.modal-title {
  font-weight: 700;
}

.inputArea {
  box-shadow: 3px 1px 0px 0px rgba(0,0,0,0.3);
}

.wine-offers {
  align-items: center;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
  background-color: #fff;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  align-items: center;
}

.wine-offers .col-md-3,
.wine-offers .col-md-6 {
  border-right: 1px solid #000;
}
