.rsc-container {
    box-shadow: 4px 6px 2px 1px rgba(0, 0, 0, 0.3);
}

.rsc-header-title {
    font-family: 'Lobster', 'Open Sans', serif;
}

.rsc-content {
    height: 65vh;
    padding: 10px;
}

@media (min-width:768px) {
    .rsc-content {
        height: calc(100vh - 250px);
    }
}

.rsc {
    margin-top: 100px;
    color: #fff;
    width:70vw;
}

.rsc-ts-bubble {
    font-size: 18px!important;
}

.rsc-os {
    display: flex;
    justify-content: center;
}

.rsc-cs {
    margin: 0 8vw 10px 8vw;
    background-color: #42626D;
    border-radius: 0 10px 10px 10px; 
}

.rsc-cs .card {
    width: 200px;
    height: auto;
}

.rsc-cs .card button {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.rsc-os-options {
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.rsc-os-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsc-os-option-element {
    font-size: 18px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wineDetail {
    display: flex;
}

.wine-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wine-list > li {
    margin: 15px;
}

.rsc-loading > span {
    font-size: 1.5rem;
}